<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Свадьба Влада и Даши</title>
    <link rel="stylesheet" href="{% static "invitation/css/flipclock.css" %}">
    <link rel="stylesheet" href="{% static "invitation/css/flipclock-resposive.css" %}">
    <link rel="stylesheet" href="{% static "invitation/css/main.css" %}">
    <link rel="stylesheet" href="{% static "invitation/css/navbar.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Marck+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CClicker+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Source+Sans+Pro&amp;subset=cyrillic" rel="stylesheet">
    <script src="{% static "invitation/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "invitation/js/flipclock.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</head>
<body data-spy="scroll" data-target="#navbarSupportedContent">
<div id="info" class="text-center page-info min-vh-100 container-fluid p-0">
    <nav id="menu" class="navbar navbar-expand navbar-dark text-white fixed-top pb-0 pt-1 pt-sm-2 pl-1 pl-sm-3 pr-1 pr-sm-1">

            <ul class="navbar-nav mx-auto align-items-center" id="navbarSupportedContent">
                <li class="nav-item">
                    <a class="nav-link pr-2 p-1 p-sm-2" href="#info">ГЛАВНАЯ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr-2 p-1 p-sm-2" href="#lovestory">НАША ИСТОРИЯ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr-2 p-1 p-sm-2" href="#">КОГДА/ГДЕ/КАК</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr-2 p-1 p-sm-2" href="#">МЕНЮ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link last pr-2 p-1 p-sm-2" href="#">ФОТО</a>
                </li>
            </ul>

    </nav>
    <div class="wrapper">
        <div class="all-title">Влад <span>&</span> Даша</div>
        <div class="invitation-text">будут рады видеть вас на свадьбе!</div>
        <div class="title-date">
            <span class="swirl-left"><span class="swirl-right">02<span>.</span>08<span>.</span>2019</span></span>
        </div>
        <div class="countdown-title">До дня свадьбы осталось</div>
        <div class="clock-container">
            <div class="my-clock"></div>
        </div>
    </div>
    <div class="mask">
        <img src="{% static "invitation/jpg/mask.png" %}">
    </div>
</div>
<div id="lovestory" class="love-story container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12 p-5">
            <h1 class="title">Влад</h1>
            <img src="{% static "invitation/jpg/vlad_new.jpg" %}" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="{% static "invitation/jpg/story-flowers.png" %}" class="img-fluid m-auto">
            <h1 class="title">Love Story</h1>
        </div>
        <div class="col-md-4 col-sm-12 p-5">
            <h1 class="title">Даша</h1>
            <img src="{% static "invitation/jpg/dasha_new.jpg" %}" class="img-fluid rounded-circle">
        </div>
    </div>
    <div>Lorem imsup</div>
</div>
</body>
<script type="text/javascript">
    var clock;
    $(document).ready(function() {
        // Grab the current date
        var currentDate = new Date();
        // Set some date in the past. In this case, it's always been since Jan 1
        var futureDate  = new Date(2019, 7, 2, 16, 0, 0);
        // Calculate the difference in seconds between the future and current date
        var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;
        // Instantiate a coutdown FlipClock
        clock = $('.my-clock').FlipClock(diff, {
            clockFace: 'DailyCounter',
            language:'ru-ru',
        });

        $("#menu").on("click","a", function (event) {
            //отменяем стандартную обработку нажатия по ссылке
            event.preventDefault();
            //забираем идентификатор бока с атрибута href
            var id  = $(this).attr('href'),
                //узнаем высоту от начала страницы до блока на который ссылается якорь
                top = $(id).offset().top;
            //анимируем переход на расстояние - top за 1500 мс
            $('body,html').animate({scrollTop: top}, 800);
        });

        var winScrollTop = 0;
        $(window).on('scroll', function() {
            var nav = $('#menu');
            var top = 200;
            if ($(window).scrollTop() >= top) {
                nav.addClass('onscroll');
            } else {
                nav.removeClass('onscroll');
            }
            winScrollTop = $(this).scrollTop();
        });
    });
</script>
</html>