<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Свадьба Влада и Даши</title>
    {% load static %}
    {% load account %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Свадьба Влада и Даши</title>
    <link rel="stylesheet" href="{% static "invitation/css/profile.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "invitation/css/toggle.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Marck+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CClicker+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Source+Sans+Pro&amp;subset=cyrillic" rel="stylesheet">
    <script src="{% static "invitation/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</head>
</head>
<body>
<div class="container-fluid p-0">
    <header>
    </header>
    <main>
        <div class="row">
            <div class="left col-lg-3">
                <div class="photo-left">
                    <img class="photo" src="{% static 'invitation/jpg/avatar.JPG' %}"/>
                </div>
                <h4 class="name">Владислав Мехряков</h4>
                <button class="rsvp"><a href="/invite">На главную</a></button>
            </div>
            <div class="right col-lg-9">
                <div class="row text-center mt-4 bg-light profile-block">
                    <div class="profile-img-block col-xl-2 col-lg-2 col-md-12 p-0">
                        <img class="img-fluid" src="{% static  '/invitation/jpg/sweet-ice-cream-photography-170766-unsplash.jpg'%}">
                    </div>
                    <div class="profile-text-block col-xl-5 col-lg-4 col-md-11 p-3">
                        <span class="question-title">Мы будет очень рады, если ты прийдешь!</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-6 p-3">
                        <div id="container" class="">
                            <div class="inner-container">
                                <div class="toggle first">
                                    <p>Не смогу</p>
                                </div>
                                <div class="toggle second">
                                    <p>Приду</p>
                                </div>
                            </div>
                            <div class="inner-container" id='toggle-container'>
                                <div class="toggle first">
                                    <p>Не смогу</p>
                                </div>
                                <div class="toggle second">
                                    <p>Приду</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-6 p-3">
                        <button class="profile-button m-auto">ПОДТВЕРДИТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>

<script type="text/javascript">

    var toggle = document.getElementById('container');
    var toggleContainer = document.getElementById('toggle-container');
    var toggleNumber;

    toggle.addEventListener('click', function() {
        toggleNumber = !toggleNumber;
        if (toggleNumber) {
            toggleContainer.style.cssText = '-webkit-clip-path: inset(0px 0px 0px 50%); background-color: #D74046;';
        } else {
            toggleContainer.style.cssText = '-webkit-clip-path: inset(0px 50% 0px 0px); background-color: #388e3c;';
        }
        console.log(toggleNumber)
    });
</script>
</html>