<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Свадьба Влада и Даши</title>
    {% load static %}
    {% load account %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static "invitation/jpg/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "invitation/css/profile.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "invitation/css/toggle.css" %}">
    <link rel="stylesheet" href="{% static "invitation/css/cropper.min.css" %}">
    <link rel="stylesheet" href="{% static "invitation/css/loader.css" %}">
    <link rel="stylesheet" href="{% static "invitation/css/guests.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Marck+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CClicker+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Source+Sans+Pro&amp;subset=cyrillic" rel="stylesheet">


    <script src="{% static "invitation/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "invitation/js/loader.js" %}"></script>
    <script src="{% static "invitation/js/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "invitation/js/cropper.min.js" %}"></script>
    <script src="{% static "invitation/js/profile.js" %}"></script>


</head>
<body>
<div class="container-fluid p-0">
    <header>
    </header>
    <main>
        <div class="row pb-4">
            <div class="left col-lg-3">
                <div class="photo-left">
                    {% if photoUrl == "" %}
                        <img class="photo" src="{% static '/invitation/jpg/user-default-grey.png' %}"/>
                    {% else %}
                        <img class="photo" src="{{ photoUrl }}"/>
                    {% endif %}
                </div>
                <div class="name-row text-center">
                    <h4 class="name">{{ guestName }}</h4>
                </div>
                <div class="row">
                    <form method="post" enctype="multipart/form-data" id="formUpload" action="/invite/upload_avatar/">
                        {% csrf_token %}
                        <label for="id_avatar" class="custom-file-upload">
                            <span>Обновить фото</span>
                        </label>
                        <input type="file" id="id_avatar" name="avatar" required>
                        <input type="hidden" id="id_x" name="x">
                        <input type="hidden" id="id_y" name="y">
                        <input type="hidden" id="id_width" name="width">
                        <input type="hidden" id="id_height" name="height">
                    </form>
                    <button class="rsvp"><a href="/invite">На главную</a></button>
                </div>
                <div class="row pt-2">
                    <button id="buttonReset4" class="profile-button m-auto" onclick="location.href='/accounts/logout/'">Выйти</button>
                </div>
                <div class="modal fade" id="modalCrop">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Выберите область фото</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="" id="image" style="max-width: 100%;">
                            </div>
                            <div class="modal-footer">
                                <div class="btn-group pull-left" role="group">
                                    <button type="button" class="btn btn-default js-zoom-in">
                                        <span class="glyphicon glyphicon-zoom-in"></span>
                                    </button>
                                    <button type="button" class="btn btn-default js-zoom-out">
                                        <span class="glyphicon glyphicon-zoom-out"></span>
                                    </button>
                                </div>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-primary js-crop-and-upload">Обновить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-lg-9">
                <div class="row text-center mt-4 bg-light profile-block">
                    <div class="profile-img-block col-xl-2 col-lg-2 col-md-12 p-0">
                        <img class="img-fluid" src="{% static  '/invitation/jpg/sweet-ice-cream-photography-170766-unsplash.jpg'%}">
                    </div>
                    {% if guest.confirm %}
                        <div id = "textConfirm" class="profile-text-block col-xl-8 col-lg-7 col-md-12 p-0 pl-lg-3">
                            {% if guest.isComing %}
                                <span class="question-title">Ура! Ждем тебя на нашей свадьбе с нетерпением :)</span>
                            {% else %}
                                <span class="question-title">Жалко, что тебя не будет :(</span>
                            {% endif %}
                        </div>
                        <div id="inputConfirm" class="col-xl-6 col-lg-6 col-md-12 p-3 p-lg-1" hidden>
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <span class="question-title">Изменить решение:</span>
                                </div>
                                <div class="col">
                                    <div id="container" class="">
                                        <div class="inner-container">
                                            <div class="toggle first">
                                                <p>Не смогу</p>
                                            </div>
                                            <div class="toggle second">
                                                <p>Приду</p>
                                            </div>
                                        </div>
                                        {% if guest.isComing %}
                                            <div class="inner-container" id='toggle-container'>
                                                <div class="toggle first">
                                                    <p>Не смогу</p>
                                                </div>
                                                <div class="toggle second">
                                                    <p>Приду</p>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="inner-container" id='toggle-container' style="-webkit-clip-path: inset(0px 0px 0px 50%); background-color: #D74046; clip-path: inset(0 0 0 50%);">
                                                <div class="toggle first">
                                                    <p>Не смогу</p>
                                                </div>
                                                <div class="toggle second">
                                                    <p>Приду</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="buttonChangeConfirm" class="col-xl-2 col-lg-3 col-12 p-0">
                            <div class="row m-3 justify-content-center justify-content-lg-end">
                                <button class="profile-button" type="button" onclick="changeConfirm(true)">ИЗМЕНИТЬ</button>
                            </div>
                        </div>
                        <div id="buttonReset" class="col-xl-4 col-lg-4 col-md-12 p-0" hidden>
                            <div class="row m-2 justify-content-center justify-content-lg-end">
                                <button id="buttonConfirm" class="profile-button m-1" onclick="confirm()">ПОДТВЕРДИТЬ</button>
                                <button class="profile-button m-1 reset" type="button" onclick="changeConfirm(false)">ОТМЕНА</button>
                            </div>
                        </div>
                    {% else %}
                        <div class="profile-text-block col-xl-5 col-lg-5 col-md-12 p-3 pl-lg-3">
                            <span class="question-title">Мы будем очень рады, если ты прийдешь!</span>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-12 p-0">
                            <div class="row m-2 justify-content-center justify-content-lg-end">
                                <div id="container" class="ml-2 mr-2">
                                    <div class="inner-container">
                                        <div class="toggle first">
                                            <p>Не смогу</p>
                                        </div>
                                        <div class="toggle second">
                                            <p>Приду</p>
                                        </div>
                                    </div>
                                    <div class="inner-container" id='toggle-container'>
                                        <div class="toggle first">
                                            <p>Не смогу</p>
                                        </div>
                                        <div class="toggle second">
                                            <p>Приду</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="profile-button m-1" onclick="confirm()">ПОДТВЕРДИТЬ</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="row text-center mt-4 bg-light profile-block">
                    <div class="profile-img-block col-xl-2 col-lg-2 col-md-12 p-0">
                        <img class="img-fluid" src="{% static  '/invitation/jpg/thomas-curryer-97018-unsplash.jpg'%}">
                    </div>
                    {% if guest.transferConfirm %}
                        <div id = "textConfirm2" class="profile-text-block col-xl-8 col-lg-7 col-md-12 p-lg-2 p-3">
                            {% if guest.needTransfer %}
                                <span class="question-title">Мы свяжемся с тобой, ближе к свадьбе, и уточним детали</span>
                            {% else %}
                                <span class="question-title">Ждем тебя 2 августа в 15:30 в парк-отеле "Пересвет"</span>
                            {% endif %}
                        </div>
                        <div id="inputConfirm2" class="col-xl-6 col-lg-6 col-md-12 p-3 p-lg-1" hidden>
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <span class="question-title">Изменить решение:</span>
                                </div>
                                <div class="col">
                                    <div id="container-2" class="">
                                        <div class="inner-container">
                                            <div class="toggle">
                                                <p>Не Нужен</p>
                                            </div>
                                            <div class="toggle">
                                                <p>нужен</p>
                                            </div>
                                        </div>
                                        {% if guest.needTransfer %}
                                            <div class="inner-container" id='toggle-container-2'>
                                                <div class="toggle">
                                                    <p>НЕ Нужен</p>
                                                </div>
                                                <div class="toggle">
                                                    <p>нужен</p>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="inner-container" id='toggle-container-2' style="-webkit-clip-path: inset(0px 0px 0px 50%); background-color: #D74046; clip-path: inset(0 0 0 50%);">
                                                <div class="toggle">
                                                    <p>НЕ Нужен</p>
                                                </div>
                                                <div class="toggle">
                                                    <p>нужен</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="buttonChangeConfirm2" class="col-xl-2 col-lg-3 col-12 p-0">
                            <div class="row m-3 justify-content-center justify-content-lg-end">
                                <button class="profile-button" type="button" onclick="changeConfirm2(true)">ИЗМЕНИТЬ</button>
                            </div>
                        </div>
                        <div id="buttonReset2" class="col-xl-4 col-lg-4 col-md-12 p-0" hidden>
                            <div class="row m-2 justify-content-center justify-content-lg-end">
                                <button id="buttonConfirm2" class="profile-button m-1" onclick="confirmTransfer()">ПОДТВЕРДИТЬ</button>
                                <button class="profile-button m-1 reset" type="button" onclick="changeConfirm2(false)">ОТМЕНА</button>
                            </div>
                        </div>
                    {% else %}
                        <div class="profile-text-block col-xl-5 col-lg-5 col-md-12 p-0 pl-lg-3">
                            <span class="question-title">Мы можем помочь тебе добраться до места нашей свадьбы.</span>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-12 p-0">
                            <div class="row m-2 justify-content-center justify-content-lg-end">
                                <div id="container-2" class="ml-2 mr-2">
                                    <div class="inner-container">
                                        <div class="toggle">
                                            <p>Я сам</p>
                                        </div>
                                        <div class="toggle">
                                            <p>Нужно</p>
                                        </div>
                                    </div>
                                    <div class="inner-container" id='toggle-container-2'>
                                        <div class="toggle">
                                            <p>я сам</p>
                                        </div>
                                        <div class="toggle">
                                            <p>Нужно</p>
                                        </div>
                                    </div>
                                </div>
                                {% if guest.confirm %}
                                    <button class="profile-button m-1" onclick="confirmTransfer()">ПОДТВЕРДИТЬ</button>
                                {% else %}
                                    <button id="bt1" class="profile-button m-1" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="Сначала нужно подтвердить приглашение">ПОДТВЕРДИТЬ</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="row text-center mt-4 bg-light profile-block">
                    <div class="profile-img-block col-xl-2 col-lg-2 col-md-12 p-0">
                        <img class="img-fluid" src="{% static  '/invitation/jpg/davide-baraldi-1582906-unsplash.jpg'%}">
                    </div>
                    {% if guest.email == "" %}
                        <div class="profile-text-block col-xl-5 col-lg-4 col-md-12 p-2">
                            <span class="question-title">Подпишись на новости свадьбы!</span>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-12 pt-1 pb-1 pl-5 pr-5 pl-lg-1 pr-lg-1">
                            <input id="id_email" type="email" class="form-control" placeholder="Ваш email"/>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-12 p-1">
                            <div class="row m-2 justify-content-center justify-content-lg-end">
                                <button class="profile-button m-1" onclick="confirmEmail()">ПОДВЕРДИТЬ</button>
                                <button id="bt3" class="profile-button m-1" role="button" data-toggle="popover" data-placement="top" data-content="Мы планируем проводить различные голосования и активности на нашем сайте, подпишись чтобы не пропустить. А также будем высылать важные новости:)">ЗАЧЕМ?</button>
                            </div>
                        </div>
                    {% else %}
                        <div id = "textConfirm3" class="profile-text-block col-xl-8 col-lg-7 col-md-11 p-3">
                            <span class="question-title">Вы подписаны, мы будем вам писать на этот адрес: {{ guest.email }}</span>
                        </div>
                        <div id="inputConfirm3" class="col-xl-6 col-lg-6 col-md-12" hidden>
                            <div class="row p-3 justify-content-center align-items-center">
                                <div class="col">
                                    <span class="question-title">Изменить email:</span>
                                </div>
                                <div class="col">
                                    <input id="id_email" type="email" class="form-control" placeholder="Новый email"/>
                                </div>
                            </div>
                        </div>
                        <div id="buttonChangeConfirm3" class="col-xl-2 col-lg-3 col-12 p-1">
                            <div class="row m-2 justify-content-center justify-content-lg-end">
                                <button class="profile-button m-1" type="button" onclick="changeEmail(true)">ИЗМЕНИТЬ</button>
                            </div>
                        </div>
                        <div id="buttonReset3" class="col-xl-4 col-lg-4 col-md-12 p-0" hidden>
                            <div class="row p-3 justify-content-center justify-content-lg-end">
                                <button id="buttonConfirm" class="profile-button m-1" onclick="confirmEmail()">СОХРАНИТЬ</button>
                                <button class="profile-button m-1 reset" type="button" onclick="changeEmail(false)">ОТМЕНА</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="row text-center mt-4 bg-light profile-block">
                    <div class="profile-img-block col-xl-2 col-lg-2 col-md-12 p-0">
                        <img class="img-fluid" src="{% static  '/invitation/jpg/sweet-ice-cream-photography-501897-unsplash.jpg'%}">
                    </div>
                    {% if guest.menu != None %}
                        <div class="profile-text-block col-xl-6 col-lg-6 col-md-12 p-md-1 p-2">
                            <span class="question-title">Ты сделал свой выбор, все будет очень вкусно!</span>
                        </div>
                    {% else %}
                        <div class="profile-text-block col-xl-8 col-lg-8 col-md-12 p-md-1 p-2">
                            <span class="question-title">Мы хотим знать, что придеться вам по вкусу! Выберите основные позиции:)</span>
                        </div>
                    {% endif %}
                    {% if guest.menu != None %}
                        <div class="col-xl-4 col-lg-4 col-12 p-3">
                            <div class="row p-0 justify-content-lg-end justify-content-center">
                                <button class="profile-button m-1" onclick="location.href='/invite/view_menu/'">ПОСМОТРЕТЬ</button>
                                <button class="profile-button m-1" onclick="location.href='/invite/menu/'">ИЗМЕНИТЬ</button>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-xl-2 col-lg-2 col-12 p-xl-3 p-1">
                            <div class="row m-2 justify-content-center justify-content-lg-end">
                                {% if guest.confirm %}
                                    <button class="profile-button m-1" onclick="location.href='/invite/menu/'">ВЫБРАТЬ</button>
                                {% else %}
                                    <button id="bt2" class="profile-button m-1" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="Сначала нужно подтвердить приглашение">ВЫБРАТЬ</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if request.user.is_superuser %}
                    <div class="row text-center mt-4 bg-light profile-block">
                        <div class="profile-img-block col-xl-2 col-lg-2 col-md-12 p-0">
                            <img class="img-fluid" src="{% static  '/invitation/jpg/motoki-tonn-1276293-unsplash.jpg'%}">
                        </div>
                        <div class="col-xl-10 col-lg-10 col-12 p-3">
                            <button class="profile-button m-auto" type="button" data-toggle="modal" data-target="#newGuest">НОВЫЙ ГОСТЬ</button>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="newGuest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Новый гость</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" placeholder="Имя" class="form-control m-2" id="guest_name"/>
                                    <input type="text" placeholder="Фамилия" class="form-control m-2" id="guest_family"/>
                                    <input type="text" placeholder="Отчество" class="form-control m-2" id="guest_middle"/>
                                    <input type="text" placeholder="Описание" class="form-control m-2" id="guest_description"/>
                                    <input type="number" placeholder="1-жених 2-невеста" class="form-control m-2" id="guest_type"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-primary" onclick="newGuest()">Создать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="row pb-4 pt-4">
            {% if guest.guestsIsVisible %}
                <div class="col-12">
                    <h1 class="title">Наши гости</h1>
                    <div id="carouselExampleIndicators" class="carousel slide mt-4">
                        <ol class="carousel-indicators">
                            {% for g in guests %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for slide in guests %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="carousel-item active">
                                        <div class="row col-12 guest-items justify-content-center mb-5 ml-auto mr-auto">
                                            {% for g in slide %}
                                                <div class="guest-item">
                                                    {% if not g.avatar %}
                                                        <img class="img-fluid" src="{% static '/invitation/jpg/user-default-grey.png' %}"/>
                                                    {% else %}
                                                        <img class="img-fluid" src="{{ g.avatar.url }}"/>
                                                    {% endif %}
                                                    <div class="guest-name mt-2 ml-auto mr-auto">{{ g.name.capitalize }} {{ g.family.capitalize }}</div>
                                                    <div class="guest-description ml-auto mr-auto">{{ g.description.capitalize }}</div>
                                                    <div class="guest-type mt-1 ml-auto mr-auto">
                                                        {% if g.type == 1 %}
                                                        со стороны жениха
                                                        {% elif g.type == 2 %}
                                                        со стороны невесты
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <div class="row col-12 guest-items justify-content-center mb-5 ml-auto mr-auto">
                                            {% for g in slide %}
                                                <div class="guest-item">
                                                    {% if not g.avatar %}
                                                        <img class="img-fluid" src="{% static '/invitation/jpg/user-default-grey.png' %}"/>
                                                    {% else %}
                                                        <img class="img-fluid" src="{{ g.avatar.url }}"/>
                                                    {% endif %}
                                                    <div class="guest-name mt-2 ml-auto mr-auto">{{ g.name.capitalize }} {{ g.family.capitalize }}</div>
                                                    <div class="guest-description ml-auto mr-auto">{{ g.description.capitalize }}</div>
                                                    <div class="guest-type mt-1 ml-auto mr-auto">
                                                        {% if g.type == 1 %}
                                                            со стороны жениха
                                                        {% elif g.type == 2 %}
                                                            со стороны невесты
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row pb-4 pt-4">
            <button class="rsvp-main m-auto" onclick="location.href='/invite'">Главная страница</button>
        </div>
    </main>
</div>
</body>

<script type="text/javascript">

    {% if not guest.confirm %}
        $('#bt1').popover();
        $('#bt2').popover();
    {% endif %}

    {% if guest.guestsIsVisible %}
        $(document).ready(function () {
            $("carouselExampleIndicators").carousel({interval: 500, pause: "hover"});
        });
    {% endif %}

    {% if guest.email == "" %}
        $('#bt3').popover();
    {% endif %}
    var toggle = document.getElementById('container');
    var toggleContainer = document.getElementById('toggle-container');
    {% if guest.isComing %}
        var toggleNumber;
    {% else %}
        var toggleNumber = true;
    {% endif %}

    var toggle2 = document.getElementById('container-2');
    var toggleContainer2 = document.getElementById('toggle-container-2');
    {% if guest.needTransfer %}
        var toggleNumber2;
    {% else %}
        var toggleNumber2 = true;
    {% endif %}

    toggle.addEventListener('click', function() {
        toggleNumber = !toggleNumber;
        if (toggleNumber) {
            toggleContainer.style.cssText = '-webkit-clip-path: inset(0px 0px 0px 50%); background-color: #D74046; clip-path: inset(0 0 0 50%);';
        } else {
            toggleContainer.style.cssText = '-webkit-clip-path: inset(0px 50% 0px 0px); background-color: #388e3c; clip-path: inset(0 50% 0 0);';
        }
    });

    toggle2.addEventListener('click', function() {
        toggleNumber2 = !toggleNumber2;
        if (toggleNumber2) {
            toggleContainer2.style.cssText = '-webkit-clip-path: inset(0px 0px 0px 50%); background-color: #D74046; clip-path: inset(0 0 0 50%);';
        } else {
            toggleContainer2.style.cssText = '-webkit-clip-path: inset(0px 50% 0px 0px); background-color: #388e3c; clip-path: inset(0 50% 0 0);';
        }
    });

    function confirm() {
        $.post('/invite/confirm_invite/', {isComing: !toggleNumber}, OnSuccess)
    }

    function confirmTransfer() {
        $.post('/invite/confirm_transfer/', {needTransfer: !toggleNumber2}, OnSuccess)
    }

    function confirmEmail() {
        var inputEmail = document.getElementById('id_email')
        var valid = inputEmail.checkValidity()
        if(valid){
            $.post('/invite/set_email/', {email: inputEmail.value}, OnSuccess)
        }
        else {
            alert("Неправильный email!")
        }
    }

    function changeConfirm(visibility) {
        var input = document.getElementById('inputConfirm');
        var text = document.getElementById('textConfirm');
        var button = document.getElementById('buttonConfirm');
        var buttonChange = document.getElementById('buttonChangeConfirm');
        var buttonReset = document.getElementById('buttonReset');
        button.hidden = !visibility;
        buttonReset.hidden = !visibility;
        input.hidden = !visibility;
        text.hidden = visibility;
        buttonChange.hidden = visibility;
    }

      function changeConfirm2(visibility) {
        var input = document.getElementById('inputConfirm2');
        var text = document.getElementById('textConfirm2');
        var button = document.getElementById('buttonConfirm2');
        var buttonChange = document.getElementById('buttonChangeConfirm2');
        var buttonReset = document.getElementById('buttonReset2');
        button.hidden = !visibility;
        buttonReset.hidden = !visibility;
        input.hidden = !visibility;
        text.hidden = visibility;
        buttonChange.hidden = visibility;
    }

    function changeEmail(visibility) {
        var input = document.getElementById('inputConfirm3');
        var text = document.getElementById('textConfirm3');
        var buttonChange = document.getElementById('buttonChangeConfirm3');
        var buttonReset = document.getElementById('buttonReset3');
        buttonReset.hidden = !visibility;
        input.hidden = !visibility;
        text.hidden = visibility;
        buttonChange.hidden = visibility;
    }

    function OnSuccess (data) {
            if(data='ok'){
                location.reload()
            }
            else
                alert('Произошла ошибка')

    }


      // using jQuery
    function getCookie(name) {
        cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            cookies = document.cookie.split(';');
            for (i = 0; i < cookies.length; i++) {
                cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
    });


</script>
</html>