.guest-item{
    text-align: center;
    font-family: "Comfortaa", serif;
    display: inline-block;
    margin: 20px;
}

.guest-item img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.guest-name{
    font-size: 1.8em;
    font-family: "Caveat", serif;
}

.guest-description{
    color: grey;
    font-size: 0.9em;
}

.guest-type{
    font-size: 0.5em;
    font-weight: 600;
}


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D74046' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D74046' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li{
    background-color: #D74046 !important;
}

@media (max-width: 1460px) {
    .guest-item img {
        width: 150px;
        height: 150px;
    }

    .guest-name{
        font-size: 1.5em;
    }

    .guest-description{
        font-size: 0.8em;
    }

    .guest-type{
        font-size: 0.5em;
    }
}


@media (max-width: 938px) {
    .guest-item img {
        width: 250px;
        height: 250px;
    }

    .guest-name{
        font-size: 1.8em;
    }

    .guest-description{
        font-size: 0.9em;
    }

    .guest-type{
        font-size: 0.6em;
    }
}


@media (max-width: 720px) {
    .guest-item img {
        width: 200px;
        height: 200px;
    }

    .guest-name{
        font-size: 1.5em;
    }

    .guest-description{
        font-size: 0.9em;
    }

    .guest-type{
        font-size: 0.5em;
    }
}


@media (max-width: 578px) {
    .guest-item img {
        width: 150px;
        height: 150px;
    }

    .guest-name{
        font-size: 1.3em;
    }

    .guest-description{
        font-size: 0.7em;
    }

    .guest-type{
        font-size: 0.6em;
    }
}

@media (max-width: 478px) {
    .guest-item img {
        width: 130px;
        height: 130px;
    }

    .guest-item{
        margin: 10px;
    }

    .guest-name{
        font-size: 1.1em;
        max-width: 100px;
        text-align: center;
    }

    .guest-description{
        font-size: 0.6em;
        max-width: 100px;
        text-align: center;
    }

    .guest-type{
        font-size: 0.5em;
        max-width: 100px;
        text-align: center;
    }
}

@media (max-width: 369px) {
    .guest-item img {
        width: 110px;
        height: 110px;
    }

    .guest-item{
        margin: 10px;
    }

    .guest-name{
        font-size: 1.1em;
        max-width: 100px;
        text-align: center;
    }

    .guest-description{
        font-size: 0.6em;
        max-width: 100px;
        text-align: center;
    }

    .guest-type{
        font-size: 0.5em;
        max-width: 100px;
        text-align: center;
    }
}


@media (max-width: 333px) {
    .guest-item img {
        width: 100px;
        height: 100px;
    }

    .guest-item{
        margin: 10px;
    }

    .guest-name{
        font-size: 1em;
        max-width: 100px;
        text-align: center;
    }

    .guest-description{
        font-size: 0.5em;
        max-width: 100px;
        text-align: center;
    }

    .guest-type{
        font-size: 0.5em;
        max-width: 100px;
        text-align: center;
    }
}