.instagram-media{
     background:#FFF;
     display: inline-block!important;
     width:99.375%;
     width:-webkit-calc(100% - 2px);
     width:calc(100% - 2px);
     max-width:90%!important;
     min-width:90%!important;
     margin: 2px !important;
}

@media (min-width: 700px) {
.instagram-media{
     max-width:45%!important;
     min-width:45%!important;
}
}

@media (min-width: 900px) {
.instagram-media{
     max-width:31%!important;
     min-width:31%!important;
}
}

@media (min-width: 1500px) {
.instagram-media{
     max-width:23%!important;
     min-width:23%!important;
}
}