
#info{
    background-image: url("/static/invitation/jpg/bg-img-1.jpg");
    background-position: center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

#info:before{
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-width: 300px;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}

.wrapper{
   z-index: 1;
    position: relative;
}

.all-title{
    font-size: calc(3em + 1vw);
    color: white;
    font-family: "Marck Script";
    padding-top: 150px;
}
.all-title span{
    color: #fbbdc2
}

.countdown-title{
    font-size: calc(1em + 1vw);
    color: white;
    font-family: "Comfortaa";
}

.container {
    text-align: center;
}

.my-clock {
    display: inline-block;
    width: auto;
    max-width: 100%;
}

.title-date{
    font-size: calc(1em + 1vw);
    padding: 0;
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    padding-top: 10px;
}

span.swirl-left {
    display: inline-block;
    background: url("/static/invitation/jpg/swirl-left.png") no-repeat left;
    padding: 0 0 0 130px;
}

span.swirl-right {
    display: inline-block;
    background: url("/static/invitation/jpg/swirl-right.png") no-repeat right;
    padding: 10px 130px 10px 0px;
}

.mask{
    position: absolute;
    bottom: -5px;
    left: 0px;
}

.mask img{
    max-width: 100%;
}

.love-story{
    background: url("/static/invitation/jpg/seamless.png");
    padding-top: 50px;
    font-family: "Caveat";
}

.love-story img{
    border-radius: 50%;
}

.title {
    font-size: 2.75rem;
    margin-bottom: 40px;
    text-align: center;
}

.invitation-text{
	font-family: "Comfortaa";
	color: white;
	font-size: calc(1em + 1vw);
}


@media only screen and (max-width: 480px) {
    span.swirl-right {
        padding-right: 85px;
        background-size: 45%;
    }
    span.swirl-left {
        padding-left: 85px;
        background-size: 30%;
    }
}




