
#info{
    background-image: url("/static/invitation/jpg/bg-img-1.jpg");
    background-position: center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    z-index: 1;
}

#info:before{
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    min-height: 900px;
    min-width: 300px;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}

.wrapper{
    z-index: 1;
    position: relative;
    height: 100vh;
    min-height: 900px;
}

.all-title{
    font-size: calc(3em + 1vw);
    color: white;
    font-family: "Marck Script";
    padding-top: 150px;
}
.all-title span{
    color: #fbbdc2
}

.countdown-title{
    font-size: calc(1em + 1vw);
    color: white;
    font-family: "Comfortaa";
}

.container {
    text-align: center;
}

.my-clock {
    display: inline-block;
    width: auto;
    max-width: 100%;
}

.title-date{
    font-size: calc(1em + 1vw);
    padding: 0;
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    padding-top: 10px;
}

span.swirl-left {
    display: inline-block;
    background: url("/static/invitation/jpg/swirl-left.png") no-repeat left;
    padding: 0 0 0 130px;
}

span.swirl-right {
    display: inline-block;
    background: url("/static/invitation/jpg/swirl-right.png") no-repeat right;
    padding: 10px 130px 10px 0px;
}

.mask{
    position: absolute;
    bottom: -5px;
    left: 0px;
}

.mask-inside{
    position: absolute;
    bottom: -30px;
    left: 0px;
    max-width: 100%;
    background-size: cover;
}

.mask img, .mask-inside img{
    max-width: 100%;
}

.how-png{
    max-width: 80%;
    position: relative;
    top: 10%;
}

.how-text{
    font-family: "Comfortaa";
    font-size: calc(0.9em + 0.5vw);
    word-wrap: break-word;
}
.love-story{
    background: url("/static/invitation/jpg/seamless.png");
    padding-top: 50px;
    font-family: "Caveat";
    position: relative;
    max-width: 100%;
}

.flower-where{
    max-width: 300px;
    padding-top: 30px;
}


.title {
    font-size: 2.75rem;
    text-align: center;
    font-family: "Caveat", serif;
}

.invitation-text{
    font-family: "Comfortaa";
    color: white;
    font-size: calc(1em + 1vw);
}

.how-where{
    background: url("/static/invitation/jpg/seamless_new.png");
    position: relative;
    font-family: "Caveat";
    padding-bottom: 100px!important;
}

.dress .dress-color{
    width: calc(3em + 2.5vw);
    height: calc(3em + 2.5vw);
    border-radius: 50%;
    border: white solid 0.25vw;
}

.main-text{
    font-family: "Comfortaa", serif;
    font-size: 1.2em;
}



@media only screen and (max-width: 480px) {
    span.swirl-right {
        padding-right: 85px;
        background-size: 45%;
    }
    span.swirl-left {
        padding-left: 85px;
        background-size: 30%;
    }
}

img{
    max-width: 100%;
}
.social-img{
    max-width: 15%;
    padding: 5px;
}

.after{
    max-width: 10%;
}

.location-href{
    font-size: calc(0.6em + 0.5vh);
    color: #8D163C;
}

.where-icon{
    display: block;
    position: absolute !important;
    left: 0;
    top:40%;
}

.rsvp{
    background-color: #fbbdc2;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Comfortaa", serif;
    font-size: calc(1em + 0.4vw);
    margin-top: 100px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.rsvp:hover{
    border: solid white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.rsvp a{
    text-decoration: none;
    color: white;
}

.rsvp a:hover{
    text-decoration: none;
    color: white;
}

#organizators{
    background: url("/static/invitation/jpg/seamless.png");
    padding-top: 50px;
    font-family: "Comfortaa", serif;
    position: relative;
    max-width: 100%;
}

.title-small{
    font-family: Caveat;
    font-size: 2.75rem;
    display: inline-block;
}


.guest-item{
    text-align: center;
    font-family: "Comfortaa", serif;
    display: inline-block;
    margin: 20px;
}

.guest-item img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.guest-name{
    font-size: 1.8em;
    font-family: "Caveat", serif;
}

.guest-description{
    color: grey;
    font-size: 0.9em;
}

.guest-type{
    font-size: 0.5em;
    font-weight: 600;
}


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D74046' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D74046' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li{
    background-color: #D74046 !important;
}

@media (max-width: 1460px) {
    .guest-item img {
        width: 250px;
        height: 250px;
    }

    .guest-name{
        font-size: 1.8em;
    }

    .guest-description{
        font-size: 0.8em;
    }

    .guest-type{
        font-size: 0.5em;
    }
}


@media (max-width: 720px) {
    .guest-item img {
        width: 200px;
        height: 200px;
    }

    .guest-name{
        font-size: 1.6em;
    }

    .guest-description{
        font-size: 0.7em;
    }

    .guest-type{
        font-size: 0.5em;
    }
}


.scroll{
    position: relative;
    width: 100%;
    margin-top: 20px;
    height: 100px;
}



.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

#footer:before{
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 2;
}

#footer{
    position: relative;
    background-image: url("/static/invitation/jpg/footer.jpg");
    background-position: center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 400px;
    z-index: 1;
}
