@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

#container {
	width: 200px;
	height: 56px;
	margin: auto;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
}

.inner-container {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	text-transform: uppercase;
	font-size: 1em;
    font-weight: 400;
	letter-spacing: .2em;
    font-family: "Comfortaa", serif;
}

.inner-container:first-child {
	background: #e9e9e9;
	color: #a9a9a9;
}

.inner-container:nth-child(2) {
	background: #388e3c;
	color: white;
	-webkit-clip-path: inset(0 50% 0 0);
	transition: .3s cubic-bezier(0,0,0,1);
}

.toggle {
	width: 50%;
	position: absolute;
	height: inherit;
	display: flex;
	box-sizing: border-box;
}

.toggle p {
	margin: auto;
}

.toggle:nth-child(1) {
	right: 0;
}


@media (min-width: 300px) {
	#container {
		width: 150px;
		height: 46px;
	}
	.inner-container {
		font-size: 0.8em;
	}
}

@media (min-width: 1200px) {
	#container {
		width: 200px;
		height: 56px;
	}
	.inner-container {
		font-size: 1em;
	}
}